.recharge-container {
  position: relative;
  min-height: 100%;
  background-color: #fafafa;
  font-family: PingFang SC;
  display: flex;
  flex-direction: column;
  align-items: center;

  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101px;
    background: rgba(250, 218, 161, 1);
  }

  .balance {
    width: 324px;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3px;
    background: url('~@/assets/wanheng/充值中心_slices/保@2x.png');
    background-size: 100% 100%;

    .label {
      width: 100%;
      font-size: 22px;
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(70, 70, 70, 1);
      display: flex;
      align-items: center;
      margin-left: 28px;
    }

    .value {
      width: 100%;
      font-size: 22px;
      font-family: PingFang SC-Semibold, PingFang SC;
      font-weight: 600;
      color: rgba(70, 70, 70, 1);
      display: flex;
      align-items: center;
      margin-left: 28px;
      margin-top: 10px;
    }
  }

  .textBox {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    box-sizing: border-box;

    .cash-type,
    .pwd-tips {
      margin-top: 24px;
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(204, 148, 53, 1);
      text-align: left;
    }

    input {
      width: 100%;
      margin-top: 16px;
      font-size: 14px;
      font-weight: 400;
      color: #ADADAD;
    }
  }

  .recharge-remark-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 16px;
    box-sizing: border-box;

    .recharge-remark-title {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 600;
      color: #333333;
      margin-bottom: 16px;
    }

    >p {
      font-size: 12px;
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
      line-height: 16px;
    }
  }

  .recharge-btn {
    width: 343px;
    height: 49px;
    background: RGBA(204, 148, 53, 1);
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
    font-size: 16px;
    font-family: PingFang SC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;

  }

  .recharge-manner-box {
    overflow: hidden;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    box-sizing: border-box;

    .transaction-title {
      width: 100%;
      height: 55px;
      font-size: 16px;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 600;
      color: #000000;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .recharge-manner-box-balance {
      width: 100%;
      height: 86px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 44px;
      font-family: PingFang SC-Semibold, PingFang SC;
      font-weight: 600;
      color: #333333;
    }

    .recharge-manner-info-box {
      background: #FFFFFF;
      box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      margin-top: 16px;

      .recharge-manner-info-title {
        font-size: 14px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #B3B3B3;
      }

      .transaction-btn {
        width: 343px;
        height: 49px;
        background: #FF8A35;
        border-radius: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        margin: 12px auto 0;
      }
    }

    .recharge-manner-header {
      padding: 14px 0;

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        width: 100%;
        height: 44px;
        background: #FBFBFE;
        margin-top: 24px;

        &-left {
          display: flex;
          align-items: center;
          color: #626364;

          .left-icon {
            width: 44px;
            height: 44px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 17px;

            &.recharge_bank {
              background-image: url('images/recharge_online.png');
            }

            &.recharge_wx_bank {
              background-image: url('images/recharge_online.png');
            }

            &.recharge_alipay_bank {
              background-image: url('images/recharge_online.png');
            }

            &.recharge_gz_bank {
              background-image: url('images/recharge_online.png');
            }

            &.recharge_alipay {
              background-image: url('images/recharge_alipay.png');
            }

            &.recharge_wx {
              background-image: url('images/wx.png');
            }

            &.recharge_online_wechat {
              background-image: url('images/wx.png');
            }

            &.recharge_alipay_app {
              background-image: url('images/recharge_alipay.png');
            }

            &.recharge_pay_service {
              background-image: url('images/pay_service.png');
            }
          }

          .content {
            flex: 1 0;
            height: 44px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .tipss {
              color: #FF7045;
              margin-top: 4px;
            }
          }

        }

        &-right {
          .radio-icon {
            display: inline-block;
            width: 19px;
            height: 19px;
            background: url(../../assets/images/cash/radio_1.png) no-repeat;
            background-size: contain;

            // border: 1px solid #FF7045;
            // border-radius: 50%;
            &.active-radio-icon {
              position: relative;

              &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: ' ';
                width: 19px;
                height: 19px;
                // background-color: #FF7045;
                background: url(../../assets/images/cash/radio_2.png) no-repeat;
                background-size: contain;
                // border-radius: 50%;
              }
            }
          }
        }
      }
    }

    .recharge-protocol-box {
      display: flex;
      align-items: center;
      padding: 14px 0 27px;
      font-size: 12px;
      color: #555763;

      .recharge-protocol-right {
        margin-left: 9px;
        font-size: 12px;
        color: #555763;

        .protocol-link {
          color: #50A5FF;
          cursor: pointer;
          margin-left: 5px;
        }
      }
    }

    .recharge-remark-box {
      font-size: 13px;
      color: #989898;
      padding: 10px 0;

      .recharge-remark-title {
        font-size: 15px;
        font-weight: bold;
        color: #2E2E2E;
        text-align: center;
      }

      >p {
        margin-bottom: 4px;
        line-height: 20px;
      }
    }

    .recharge-btn {
      // height: 47px;
      line-height: 52px;
      // background-color: #434863;
      // border-radius: 24px;
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      text-align: center;
      margin: 21px auto;
      width: 306px;
      height: 52px;
      background: #FF7045;
      border-radius: 26px;

    }
  }
}