.register-container {
  width: 100%;
  height: 100%;
  background-color: RGBA(254, 251, 244, 1);
  font-family: PingFang SC;
  display: flex;
  flex-direction: column;
  align-items: center;

  // padding-bottom: 21px;
  //   padding-top: 111px;
  .back {
    width: 8px;
    height: 15px;
    margin-left: 24px;
  }

  .title {
    font-size: 23px;
    font-weight: bold;
    color: #232a4b;
    text-align: center;
    // margin-top: 55px;
  }

  .register-box {
    position: relative;
    width: 100%;
    padding: 0 26px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .item {
      width: 100%;
      height: 40px;
      border-bottom: 1px solid rgba(214, 214, 214, 1);
      margin-top: 16px;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .left {
        width: 70px;
        flex-shrink: 0;
        font-size: 14px;
        font-weight: 400;
        color: #464646;
        line-height: 14px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      input {
        flex: 1 0;
        // font-size: 16px;
        // font-weight: 500;
        // color: #B1B4BA;
        // background-color: transparent;
        background-color: rgba(244, 244, 244, 1);
        border-radius: 13px;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        opacity: 0.4;
        // margin-left: 16px;
      }

      .code-btn {
        flex-shrink: 0;
        font-size: 15px;
        font-weight: 400;
        color: #000000;
      }
    }
  }

  .login_title {
    width: 100%;
    // margin:0 auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    padding: 100px 0 0 12px;
    box-sizing: border-box;
    font-size: 28px;
    font-family: PingFang SC-Medium, PingFang SC;
    font-weight: 500;
    color: #ff8a35;
  }

  .login_title_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .register-btn {
    margin-top: 24px;
    width: 320px;
    height: 44px;
    background: rgba(226, 171, 73, 1);
    border-radius: 36px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-btn {
    margin-top: 16px;
    width: 320px;
    height: 44px;
    background: RGBA(255, 231, 187, 1);
    border-radius: 36px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    color: rgba(226, 171, 73, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .register-footer {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    // text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .footer-link {
      text-decoration: underline;
    }
  }

  // .slogan{
  //     padding-top: 100px;
  //     padding-left: 14px;
  //     .welcome{
  //         font-size: 19px;
  //         font-weight: 500;
  //         color: #BEBEBE;
  //     }
  //     .login-info{
  //         font-size: 20px;
  //         font-weight: bold;
  //         color: #000000;
  //         margin-top: 6px;
  //     }
  // }
  // .register-header {
  //     // height: 217px;
  //     // background: linear-gradient(0deg, #2B8CFA 0%, #30A2FF 100%);
  //     // border-bottom-left-radius: 40px;
  //     // border-bottom-right-radius: 50px;
  //     // margin-bottom: 10px;
  //     padding: 0 14px;
  //     font-size: 13px;
  //     padding-top: 58px;
  //     .login{
  //         font-weight: 400;
  //         color: #999999;
  //     }
  //     .regist{
  //         margin-left: 43px;
  //         color: #000000;
  //         font-weight: bold;
  //         position: relative;
  //         &::after{
  //             content: ' ';
  //             width: 8px;
  //             height: 4px;
  //             position: absolute;
  //             background: #EFC969;
  //             border-radius: 2px;
  //             left: 50%;
  //             transform: translateX(-50%);
  //             top: 22px;
  //         }
  //     }
  // }
  // .register-box{
  //     padding-top: 50px;
  //     .mobile{
  //         display: flex;
  //         padding-bottom: 14px;
  //         border-bottom: 1px solid #F4F4F4;
  //         background-color: white;
  //         .left{
  //             width: 140px;
  //             font-size: 14px;
  //             .icon{
  //                 transform: rotate(90deg);
  //                 padding-left: 5px;
  //             }
  //         }
  //         .right{
  //             font-size: 13px;
  //             // color: #D2D2D2;
  //         }
  //     }
  //     .pwd, .repwd, .code, .invite{
  //         width: 100%;
  //         padding-top: 33px;
  //         padding-bottom: 14px;
  //         border-bottom: 1px solid #F4F4F4;
  //         font-size: 13px;
  //         // color: #D2D2D2;
  //     }
  //     .code{
  //         display: flex;
  //         justify-content: space-between;
  //         align-items: center;
  //         .code-btn{
  //            color: #EFC969;
  //         }
  //     }
  // }
  // .register-btn{
  //     background-image: url('./images/register_btn.png');
  //     background-size: 100%;
  //     background-repeat: no-repeat;
  //     width: 348px;
  //     height: 43px;
  //     line-height: 43px;
  //     text-align: center;
  //     font-size: 16px;
  //     font-weight: 500;
  //     color: #6A532C;
  //     margin-top: 31px;
  // }
  // .login-footer{
  //     // position: fixed;
  //     margin-top: 132px;
  //     display: flex;
  //     left: 13px;
  //     font-size: 13px;
  //     font-weight: 400;
  //     color: #050505;
  //     .footer-link{
  //         color: #EFC969;
  //     }
  // }
  // .register-form-box {
  //     width: 348px;
  //     background: #FFF;
  //     box-shadow: 0 0 13px 0 rgba(0, 4, 26, 0.05);
  //     border-radius: 13px;
  //     margin: 0 auto;
  //     padding: 5px 20px 20px;
  //     /deep/.van-cell::before {
  //         border-bottom: 1px solid #E4E4E4;
  //     }
  //     .register-form-item {
  //         display: flex;
  //         justify-content: flex-end;
  //         color: #30A2FF;
  //         font-size: 14px;
  //         font-weight: 500;
  //         padding: 18px 16px 16px;
  //     }
  //     .code-btn {
  //         height: 26px;
  //         line-height: 10px;
  //         padding: 8px 9px;
  //         font-size: 12px;
  //         color: #fff;
  //         background: linear-gradient(90deg, #3D8BFF 1%, #52A9FF 100%);
  //         border-radius: 22px;
  //         box-sizing: border-box;
  //     }
  //     .register-form-btn {
  //         font-size: 16px;
  //         height: 43px;
  //         line-height: 43px;
  //         text-align: center;
  //         background: linear-gradient(90deg, #3D8BFF 1%, #52A9FF 100%);
  //         color: #fff;
  //         margin-bottom: 20px;
  //         border-radius: 25px;
  //     }
  //     .register-form-footer {
  //         display: flex;
  //         align-items: center;
  //         font-size: 13px;
  //         padding: 0 16px;
  //         color: #999;
  //         .footer-checkbox {
  //             margin-right: 6px;
  //             /deep/.van-icon {
  //                 border-radius: 4px;
  //             }
  //         }
  //         .footer-link {
  //             color: #30A2FF;
  //             text-decoration: underline;
  //         }
  //     }
  // }
}
